@import "fonts";
@import "reset";
@import "variables";

html {
  scroll-behavior: smooth;
}

body {
  color: $color-text-primary;
  font-family: Gilroy, sans-serif;
  font-size: $font-size-primary;
  font-weight: 500;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.title {
  font-size: $font-size-title;
  font-weight: 700;
}

.header {
  padding: 33px 0 32px 0;
  border-bottom: 1px solid $color-header-line;
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;

  &__menu {
    &-list {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    &-item {

    }

    &-link {
      color: $color-text-secondary;
      text-decoration: none;
      margin: -10px;
      padding: 10px;
      transition: color .25s;

      &:hover, &:active {
        color: $color-text-primary;
      }
    }
  }
}

.main {
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 40px 0 104px 0;
    row-gap: 50px;

    &-name {
      line-height: 59px;
      font-weight: 700;
      font-size: 47px;
      width: min-content;
    }

    &-position {
      line-height: 22px;
    }

    &-photo-wrapper {
      flex: 1 1 100%;
      height: 385px;
    }

    &-photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-lang {
      font-size: 16px;
      font-weight: 700;
      display: flex;
      gap: 5px;
      transform: rotate(-90deg);
      transform-origin: 50% -112%;
      padding-left: 6px;
    }

    &-lang-btn {
      color: $color-text-secondary;
      transition: color .25s;
      background: none;
      border: none;
      cursor: pointer;
      font-weight: inherit;

      &:hover, &.active {
        color: $color-text-primary;
      }
    }
  }

  &__about {
    background-color: $color-background-secondary;

    &-inner {
      text-align: center;
      padding: 120px 0 107px 0;
    }

    &-title {
      margin-bottom: 25px;
    }

    &-text {
      margin-bottom: 35px;
      line-height: 22px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__skills {
    text-align: center;
    padding: 91px 0 110px 0;

    &-title {
      margin-bottom: 70px;
    }

    &-text {
      margin-bottom: 83px;
    }

    &-list {
      display: flex;
      justify-content: space-between;
    }

    &-image {
      margin-bottom: 23px;
    }

    &-name {
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      color: $color-text-secondary;
      margin-bottom: 40px;
    }

    &-stars {
      display: flex;
      gap: 9px;
    }
  }

  &__portfolio {
    padding: 113px 0 96px 0;
    background-color: $color-background-secondary;

    &-inner {
      text-align: center;
    }

    &-title {
      padding-bottom: 50px;
    }

    &-text {
      width: fit-content;
      margin: 0 auto 99px;
      border-bottom: 1px solid;
      line-height: 15px;
    }

    &-text:last-child {
      margin-bottom: 0;
    }

    &-image {
      margin-bottom: 45px;
    }
  }

  &__contacts {
    padding: 114px 0 123px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      margin-bottom: 25px;
    }

    &-text {
      margin-bottom: 32px;
      text-align: center;
      line-height: 22px;
    }

    &-btn {
      margin-bottom: 86px;
      background-color: $color-text-primary;
      color: #FFFFFF;
      border-radius: 30px;
      padding: 13px 28px;
      cursor: pointer;
      transition: all .25s;

      &:hover {
        background-color: #FFFFFF;
        color: $color-text-primary;
      }
    }

    &-list {
      display: flex;
      gap: 60px;
      justify-content: space-between;
      margin-bottom: 46px;
    }

    &-item {
    }

    &-link {
      display: block;
      height: 100%;
      width: 100%;
      transition: color .25s;

      &:hover {
        color: $color-text-secondary;
      }
    }

    &-subtext {
      color: $color-text-secondary;
      font-size: 14px;
      text-align: center;
      line-height: 17px;
    }
  }
}



